$dark-gray: #262626;
$medium-gray: #464646;
$light-gray: #535353;
$green: #ADAA4C;
$bright-gray: #C0C0C0;
$white: #fff;


// Puzzle Juice
$pink: #FF005B;
$teal: #00E1AF;
$light-gray: #A29EA0;
$yellow: #FFEB52;
$dark-gray: #3D3B3D;
$orange: #FA481E;
